@forward './lenis';
@import './reset.scss';

body * {
  --at-apply: font-base text-black-200;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

html,
body {
  --at-apply: overflow-x-hidden;
}
